{#{% load static %}#}
<!doctype html>
<html lang="en">
  <head>
  	<title>Login 07</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

{#	<link rel="stylesheet" href="{% static 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'%}">#}
{#	<link rel="stylesheet" href="{% static 'css/bootstrap/stylesunil.css'%}">#}
	<link rel="stylesheet" href="../static/css/stylesunil.css">
  <body>
    <div class="loginBox">
		
      <img src="user.png" class="user">
      <h2>Log In Here</h2>
      <form action="check_branch" method="post">

          {% csrf_token %}

          <input type="text" name='mail-id' placeholder="Enter mail-id"><br>
          <input type="password" name = 'password' placeholder="Enter Password"><br>
          <input type="submit" name = "" value="Sign In">
<!--          <a href="#"> Forget Password</a>-->
      </form>
    </div>
    
  


	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

